<div class="p-3">
  <h1>Reactive Form</h1>
  <p class="m-2 p-2">Simple Reactive Form</p>
</div>


<form [formGroup]="formGroup" class="m-2 p-3" (ngSubmit)="onSubmit()">
<div class="mb-3">
  <label for="Firstname" class="form-label">Firstname</label>
  <input id="firstname" type="text" formControlName="firstname" class="form-control">
</div>
<div class="mb-3">
  <label for="Lastname" class="form-label">Lastname</label>
  <input id="lastname" type="text" formControlName="lastname" class="form-control">
</div>
<div class="mb-3">
  <label for="Age" class="form-label">Age</label>
  <input id="age" type="number" formControlName="age" class="form-control">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
